* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    /* border: solid 1px white; */
}

body {
    height: 100vh;
    width: 100vw;
}

#container {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    height: 100vh;
    width: 100vw;
    background: gray;
    color: white
}

header {
    grid-column: 2 / 3;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    padding: 40px;
    background: black;
}

.sidebar {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 25vw;
    border-right: 2px solid gold;
    padding: 40px;
    background-color: rgb(0, 0, 47);
}

.sidebar div {
    margin-bottom: 70px;
}

ul {
    display: flex;
    height: 150px;
    overflow-y: auto;
    flex-direction: column;
    list-style: none;
}

li {
    margin: 4px;
    height: 20px;
    width: 100%;
    padding-left: 5px;
    border-radius: 180px;
}

li:hover {
    cursor: pointer;
    color: black;
    background: white;
}

.nav-default {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header1, .header2 {
    font-size: xx-large;
    margin-bottom: 25px;
}

.new-project {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px gold;
    border-radius: 2rem;
    background-color: navy;
}

input {
    height: 35px;
    width: 200px;
    text-align: center;
    border: solid 1px gold;
    border-radius: 2rem;
    color: white;
    background-color: black;
}

.add-project {
    display: block;
    width: 60%;
    height: 10%;
    border: none;
    border-radius: 179px;
    color: white;
    background-color: black;
}

.add-project:hover {
    cursor: pointer;   
    color: black; 
    background: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 90vh;
    width: 75vw;
    overflow-y: auto;
    padding: 40px;
    font-size: 23px;
    border-top: solid 2px gold;
    background: rgb(27, 27, 27); 
    /* rgb(36, 36, 36) */
} 

.todos {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    border: solid 2px black;
    padding: 5px 15px;
}

.add-todo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px 15px;
    border-radius: 180px;
    background-color: rgb(60, 60, 60);
}

.add-todo:hover {
    cursor: pointer;
    background-color: rgb(40, 40, 40);
}

.create-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%
    width: 100%;
}

/* .todo-input */